@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 1, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_reset.scss */
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Pacifico;
  src: url(../fonts/pacifico/Pacifico.ttf); }

/* line 8, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_font.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400; }

/* line 3, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  left: -300px;
  top: 0; }

/* line 12, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
.cd-accordion-menu {
  width: 100%;
  max-width: 300px;
  height: 100%;
  list-style-type: none;
  background-color: #34495E; }
  /* line 19, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
  .cd-accordion-menu ul {
    display: none; }
    /* line 22, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
    .cd-accordion-menu ul label, .cd-accordion-menu ul a {
      padding-left: 100px; }
    /* line 26, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
    .cd-accordion-menu ul a {
      padding-left: 100px; }
    /* line 30, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
    .cd-accordion-menu ul li {
      list-style: none; }
    /* line 34, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
    .cd-accordion-menu ul a {
      background: #2C3E50; }
      /* line 37, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
      .cd-accordion-menu ul a:hover {
        background: #273848; }
  /* line 43, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
  .cd-accordion-menu label, .cd-accordion-menu a {
    position: relative;
    display: block;
    padding: 18px 18px 18px 50px;
    background: #34495E;
    color: #e5e5e5;
    font-size: 16px;
    cursor: pointer; }
    /* line 52, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
    .cd-accordion-menu label:hover, .cd-accordion-menu a:hover {
      color: white; }
  /* line 57, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
  .cd-accordion-menu a {
    text-decoration: none; }
  /* line 62, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
  .cd-accordion-menu input[type=checkbox] {
    position: absolute;
    opacity: 0; }

/* line 68, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
.cd-accordion-menu input[type=checkbox]:checked + label + ul, .cd-accordion-menu input[type=checkbox]:checked + a + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul, .cd-accordion-menu input[type=checkbox]:checked + a:nth-of-type(n) + ul {
  display: block; }

/* line 73, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
.icon::before {
  display: inline-block;
  margin-right: 0.5em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

/* line 84, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
.logo {
  font-size: 25px;
  font-family: "Pacifico";
  color: #e5e5e5;
  background: #34495E;
  white-space: nowrap;
  text-align: center;
  width: 300px;
  height: 100px; }
  /* line 95, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
  .logo span {
    line-height: 100px;
    cursor: pointer; }
    /* line 98, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
    .logo span:hover {
      color: white; }

/* line 103, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navbar.scss */
.show-nav #site-canvas {
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); }

/* line 2, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 11, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.lines {
  display: inline-block;
  width: 35px;
  height: 5px;
  background: #fff;
  border-radius: 2.5px;
  transition: 0.5s;
  position: relative; }
  /* line 14, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
  .lines::after, .lines::before {
    display: inline-block;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 2.5px;
    transition: 0.5s;
    position: absolute;
    left: 0;
    content: "";
    transform-origin: 2.5px center; }
  /* line 23, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
  .lines::before {
    top: 8.75px; }
  /* line 27, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
  .lines::after {
    top: -8.75px; }

/* line 32, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.lines.close {
  background: transparent; }
  /* line 34, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
  .lines.close::after, .lines.close::before {
    transform-origin: 50% 50%;
    top: 0;
    width: 35px; }
  /* line 41, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
  .lines.close::before {
    transform: rotate3d(0, 0, 1, 45deg); }
  /* line 45, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
  .lines.close::after {
    transform: rotate3d(0, 0, 1, -45deg); }

/* line 50, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.hexagon {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #5fafe4;
  margin: 17.32px 0; }

/* line 59, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.hexagon:after,
.hexagon:before {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; }

/* line 69, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.hexagon:before {
  bottom: 100%;
  border-bottom: 17.32px solid #5fafe4; }

/* line 75, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_navicon.scss */
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #5fafe4; }

/* line 1, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
.top-nav {
  width: 100%;
  height: 100px;
  position: relative;
  background: #fff; }
  /* line 6, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
  .top-nav ul {
    text-align: left; }
  /* line 9, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
  .top-nav ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    line-height: 100px;
    white-space: nowrap; }
    /* line 16, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
    .top-nav ul li.left {
      margin-left: 80px; }
    /* line 19, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
    .top-nav ul li.right {
      margin-left: 70%; }
    /* line 23, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
    .top-nav ul li a {
      font-family: "Quark";
      font-size: 18px;
      text-decoration: none;
      color: #95a0aa; }
      /* line 28, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_top-nav.scss */
      .top-nav ul li a:hover {
        color: #ced3d7; }

/* line 1, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tiles {
  min-width: 1200px; }

/* line 7, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile-1 {
  background: #5fafe4; }

/* line 10, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile-2 {
  background: #6eb4e5; }

/* line 13, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile-3 {
  background: #7dbde9; }

/* line 16, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile-4 {
  background: #8cc3ea; }

/* line 19, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile-5 {
  background: #99cbee; }

/* line 23, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile {
  position: relative;
  height: 279px;
  cursor: pointer; }
  /* line 28, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
  .tile .bs-grid {
    width: 100%;
    height: 100%;
    padding: 10px; }

/* line 34, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_tiles.scss */
.tile-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 24px;
  font-family: "Quark";
  color: #fff; }

/* line 1, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_base-style.scss */
#site-wrapper {
  position: relative;
  height: 5000px;
  width: 100%; }

/* line 8, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_base-style.scss */
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  /* line 15, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_base-style.scss */
  #site-canvas a.toggle-nav {
    position: absolute;
    top: 15px;
    left: -30px;
    z-index: 1; }

/* line 23, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_base-style.scss */
.content {
  background: #eeeeee;
  padding-top: 100px; }

/* line 28, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_base-style.scss */
.statistics-cloud {
  margin-top: 100px;
  margin-bottom: 100px; }

/* line 1, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_statistics.scss */
.statistics {
  height: 500px;
  padding-left: 0; }
  /* line 24, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/modules/_mixin.scss */
  .statistics .wrapper {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: auto;
    font-family: "Quark"; }
    /* line 30, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/modules/_mixin.scss */
    .statistics .wrapper .name {
      padding-left: 15px;
      height: 70px;
      line-height: 70px;
      width: 100%;
      background-color: #cccccc;
      font-size: 18px;
      color: #777777;
      font-weight: bold; }
    /* line 42, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/modules/_mixin.scss */
    .statistics .wrapper .guts {
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      height: auto; }

/* line 1, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/partials/_cloud-storage.scss */
.cloud-storage {
  height: 500px;
  padding-left: 0; }
  /* line 24, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/modules/_mixin.scss */
  .cloud-storage .wrapper {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: auto;
    font-family: "Quark"; }
    /* line 30, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/modules/_mixin.scss */
    .cloud-storage .wrapper .name {
      padding-left: 15px;
      height: 70px;
      line-height: 70px;
      width: 100%;
      background-color: #cccccc;
      font-size: 18px;
      color: #777777;
      font-weight: bold; }
    /* line 42, C:/Users/Nazar/Desktop/html-css/dashBoard/stylesheets/scss/modules/_mixin.scss */
    .cloud-storage .wrapper .guts {
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      height: auto; }

/*# sourceMappingURL=../css-style/style.map */