/* line 2, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
html {
  font-size: 15px; }

/* line 9, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.lines-button {
  display: inline-block;
  padding: 1.75rem 0.875rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem; }
  /* line 16, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines-button:hover {
    opacity: 1; }
  /* line 19, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines-button:active {
    transition: 0;
    background: rgba(0, 0, 0, 0.1); }

/* line 37, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.lines {
  display: inline-block;
  width: 3.5rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 0.25rem;
  transition: 0.3s;
  position: absolute;
  top: 1.25rem;
  left: 0.71429rem; }
  /* line 42, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines::before, .lines::after {
    display: inline-block;
    width: 3.5rem;
    height: 0.5rem;
    background: #fff;
    border-radius: 0.25rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: "";
    transform-origin: 0.25rem center; }
  /* line 49, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines::before {
    top: 0.875rem; }
  /* line 53, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines::after {
    top: -0.875rem; }

/* line 58, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.lines.close {
  background: transparent; }
  /* line 60, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines.close::before, .lines.close::after {
    transform-origin: 50% 50%;
    top: 0;
    width: 3.5rem; }
  /* line 65, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines.close::before {
    transform: rotate3d(0, 0, 1, 45deg); }
  /* line 68, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
  .lines.close::after {
    transform: rotate3d(0, 0, 1, -45deg); }

/* line 73, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.hexagon {
  position: relative;
  width: 75px;
  height: 43.30px;
  background-color: #64C7CC;
  margin: 100px; }

/* line 81, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent; }

/* line 90, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.hexagon:before {
  bottom: 100%;
  border-bottom: 21.65px solid #64C7CC; }

/* line 95, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid #64C7CC; }

/* line 101, C:/Users/Nazar/Desktop/html&css/sass/stylesheets/scss/partials/-navicon.scss */
.button {
  position: relative;
  width: 2.9rem;
  height: 5rem; }

/*# sourceMappingURL=../../css-style/partials/-navicon.map */